In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [10]:
import pandas as pd
import datetime as dt
import numpy as np

In [14]:
dtindex = pd.date_range('2000-01-01', '2003-12-31', freq='M')
p1 = np.random.randn(len(dtindex))

df = pd.DataFrame({'p1': p1}, index=dtindex)
df

                  p1
2000-01-31  0.297686
2000-02-29 -1.865874
2000-03-31 -0.073215
2000-04-30 -0.834906
2000-05-31 -0.873332
2000-06-30 -0.567140
2000-07-31 -0.359030
2000-08-31  1.095872
2000-09-30 -0.307445
2000-10-31 -0.176333
2000-11-30 -1.513043
2000-12-31  0.049894
2001-01-31  0.145328
2001-02-28 -1.152297
2001-03-31 -0.710191
2001-04-30 -1.221047
2001-05-31  0.183958
2001-06-30  0.895382
2001-07-31 -0.510630
2001-08-31 -1.093263
2001-09-30 -0.309586
2001-10-31 -0.168894
2001-11-30  0.382311
2001-12-31  0.790705
2002-01-31 -1.560507
2002-02-28  1.318248
2002-03-31 -1.105634
2002-04-30 -0.336359
2002-05-31  0.701021
2002-06-30 -0.728610
2002-07-31 -0.619271
2002-08-31  0.637447
2002-09-30  0.467618
2002-10-31 -1.277306
2002-11-30  0.399452
2002-12-31  1.317362
2003-01-31 -1.777946
2003-02-28  1.138770
2003-03-31  0.119868
2003-04-30  1.142736
2003-05-31  0.373776
2003-06-30 -0.826251
2003-07-31  1.662055
2003-08-31 -0.173086
2003-09-30 -1.403511
2003-10-31 -1.409982
2003-11-30 -0.625930
2003-12-31  0.360510

In [30]:
period_start = pd.date_range(df.index[0], df.index[-1], freq='12MS')
period_end = [dt.datetime(i.year+1, 5, 1) for i in idx0]
new = pd.concat([df[ps:pe].sum() for ps, pe in zip(period_start, period_end)])
new

p1   -8.362759
p1   -4.597804
p1    1.397397
dtype: float64

In [27]:
print df.index[-1]

2003-12-31 00:00:00

In [13]:
np.clip((df.index.day-1) // 10, 0, 2)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1])